body *{
  font-family: arial;
  text-align:center;
}
h1 {
  font-weight:bold;
  color: rgb(102, 0, 255);
}
h4{
  color: rgb(102, 0, 255);
}
img {
  margin: auto;
  display:block;
}
ul{
  list-style:none;
}
.back-link {
  text-align:left;
}
